<div class="container mt-5 mb-5">
    <main class="form-signin col-md-4 offset-md-4">
        <form>

            <div class="text-center">
                <img class="mb-4" ngSrc="assets/images/aavelogo.webp" alt="" width="100" height="100" priority>
            </div>

            <h1 class="h3 mb-3 fw-normal text-center mb-4">ลงทะเบียน</h1>

            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingFullname" placeholder="Fullname">
                <label for="floatingFullname">Fullname</label>
            </div>
        
            <div class="form-floating mb-2">
                <input type="email" class="form-control" id="floatingEmail" placeholder="Email">
                <label for="floatingEmail">Email</label>
            </div>

            <div class="form-floating mb-2">
                <input type="tel" class="form-control" id="floatingMobile" placeholder="Mobile">
                <label for="floatingMobile">Mobile</label>
            </div>

            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="mt-4">
                <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
            </div>
        </form>
    </main>
</div>